ul.custom {
    justify-content: space-between;
    display: flex;
    list-style: none;
    padding: 0;
}

li.custom {
    height: 0.5rem;
    line-height: 0;
    padding: 0;
    text-align: center;
}